[package]
name = "dusk-forge-contract"
version = "0.1.0"
edition = "2021"
description = "A smart contract development macro for Dusk"
license = "MPL-2.0"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full", "visit"] }
